<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="space-between center" *ngFor="let product of products">
      <a [routerLink]="['/item-detail', product.id]">
        <img class="product-image" [src]="product.url" [alt]="product.name">
      </a>
      <div class="product-detail"><b>{{ product.name }}</b></div>
      <div class="product-detail">$ {{ product.price }}</div>

      <form (ngSubmit)="onSubmit(product)">
        <select class="product-detail form-select" [(ngModel)]="product.selectedOption" name="productOption" aria-label="Product select">
          <option *ngFor="let product_option of productCount" [ngValue]="product_option">
            {{ product_option }}
          </option>
        </select>
        <button type="submit" class="product-detail btn btn-primary">Add to Cart</button>
      </form>
    </div>
  </div>
</div>
